[submodule "modules/vim-pathogen"]
	path = modules/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "modules/nerdtree"]
	path = modules/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "modules/vim-monokai"]
	path = modules/vim-monokai
	url = git@github.com:sickill/vim-monokai.git
[submodule "modules/syntastic"]
	path = modules/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "modules/a.vim"]
	path = modules/a.vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule "modules/delimitMate"]
	path = modules/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "modules/vim-bclose"]
	path = modules/vim-bclose
	url = git@github.com:cespare/vim-bclose.git
[submodule "modules/svn-color"]
	path = modules/svn-color
	url = git@github.com:philchristensen/svn-color.git
[submodule "modules/vim-syntax-extra"]
	path = modules/vim-syntax-extra
	url = git@github.com:justinmk/vim-syntax-extra.git
[submodule "modules/ctrlp.vim"]
	path = modules/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "modules/vim-surround"]
	path = modules/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "modules/colorgcc"]
	path = modules/colorgcc
	url = git@github.com:colorgcc/colorgcc.git
[submodule "modules/tagbar"]
	path = modules/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "modules/codeschool-vim-theme"]
	path = modules/codeschool-vim-theme
	url = git@github.com:29decibel/codeschool-vim-theme.git
[submodule "modules/STL-Syntax"]
	path = modules/STL-Syntax
	url = git@github.com:Mizuchi/STL-Syntax.git
[submodule "modules/vim-colors-solarized"]
	path = modules/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "modules/tmux-colors-solarized"]
	path = modules/tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
[submodule "modules/vim-airline"]
	path = modules/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "modules/vim-colorschemes"]
	path = modules/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
