[user]
  email = sam.kellett@justonedatabase.com
  name = Sam Kellett

[push]
  default = simple

[branch "master"]
  rebase = true

[branch]
  autosetuprebase = always

[filter "media"]
  clean = git-media filter-clean
  smudge = git-media filter-smudge

