[user]
	email = samkellett@gmail.com
	name = Sam Kellett

[branch "master"]
	rebase = true

[branch]
	autosetuprebase = always

[filter "media"]
	clean = git-media filter-clean
	smudge = git-media filter-smudge

[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[push]
	default = simple
