[submodule "modules/vim-pathogen"]
	path = modules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "modules/nerdtree"]
	path = modules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/vim-monokai"]
	path = modules/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "modules/syntastic"]
	path = modules/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "modules/a.vim"]
	path = modules/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "modules/delimitMate"]
	path = modules/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "modules/vim-bclose"]
	path = modules/vim-bclose
	url = https://github.com/cespare/vim-bclose.git
[submodule "modules/svn-color"]
	path = modules/svn-color
	url = https://github.com/philchristensen/svn-color.git
[submodule "modules/vim-syntax-extra"]
	path = modules/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "modules/ctrlp.vim"]
	path = modules/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "modules/vim-surround"]
	path = modules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "modules/colorgcc"]
	path = modules/colorgcc
	url = https://github.com/colorgcc/colorgcc.git
[submodule "modules/tagbar"]
	path = modules/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "modules/codeschool-vim-theme"]
	path = modules/codeschool-vim-theme
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "modules/STL-Syntax"]
	path = modules/STL-Syntax
	url = https://github.com/Mizuchi/STL-Syntax.git
[submodule "modules/vim-colors-solarized"]
	path = modules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "modules/tmux-colors-solarized"]
	path = modules/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "modules/vim-airline"]
	path = modules/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "modules/vim-colorschemes"]
	path = modules/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "modules/Gundo"]
	path = modules/Gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "modules/seti.vim"]
	path = modules/seti.vim
	url = https://github.com/trusktr/seti.vim
[submodule "modules/argonaut.vum"]
	path = modules/argonaut.vum
	url = https://github.com/effkay/argonaut.vim.git
[submodule "modules/dircolors-solarized"]
	path = modules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized

